body { 
  background-color: #191a1a;
  font-family: 'Open Sans', sans-serif;
}

/* Info Container */

#info-container {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 40%;
  border-right: 1px solid #c9c9c9;
  overflow: scroll;
  padding: 10px 0px 10px 0px;
}

#info-container h1 {
  color: #c9c9c9;
  padding: 10px 40px 20px 40px;
}

.info-paragraph {
  color: #c9c9c9;
  padding: 0px 40px 10px 40px;
}

/* Map Container */

#map-container {
  position: fixed; 
  top: 0; 
  right: 0;
  bottom: 0; 
  width: 59.91%;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

#layers-title-cntr {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 0;
  margin-right: 30px;
  width: 150px;
  opacity: 0.7;
}

#layers-title-cntr p {
  font-size: 1.3em;
  color: white;
  display: block;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

#menu {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  margin-right: 30px;
  border-radius: 3px;
  width: 150px;
  opacity: 0.7;
}

#menu a {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#menu a:hover {
  opacity: 0.8;
}

#menu a.active {
  color: #ffffff;
}

/* Markers and popups */
